@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import './styles/variables.scss';
@import './styles/menu.scss';
@import './styles/home-component.scss';
@import './styles/videoItem.scss';
@import './styles/course-item.scss';
@import './styles/about.scss';


.App {
  //text-align: center;
  font-family: $mainfont;
  img {
     
    max-width: 100%;
  }
  a {
    color: $darkblue;
  }
  .main-container{
  }
}
